<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="com-esed-payer-archiviocarichi-ws"
                	  fileName="${sys:jboss.server.log.dir}/com-esed-payer-archiviocarichi-ws.log"
                	  filePattern="%d{yyyy-MM-dd}-com-esed-payer-archiviocarichi-webservice-ws.%i.log.gz"
                	  ignoreExceptions="false" filePermissions="rw-rw-r--">
            <PatternLayout pattern="${LOG_PATTERN}"/>
			<!-- <JsonTemplateLayout eventTemplateUri="classpath:ElasticsearchJsonEventLayoutV1.json"/> -->
            <Policies>
                <SizeBasedTriggeringPolicy size="500MB" />
            </Policies>
            <!-- <DefaultRolloverStrategy max="10" /> -->
            <ThresholdFilter level="INFO"/>
        </RollingFile>
        <RollingFile name="com-esed-payer-archiviocarichi-ws-error"
                	 fileName="${sys:jboss.server.log.dir}/com-esed-payer-archiviocarichi-ws-error.log"
                	 filePattern="com-esed-payer-archiviocarichi-ws-error.%i.log"
                     ignoreExceptions="false" filePermissions="rw-rw-r--">
			<JsonTemplateLayout eventTemplateUri="classpath:ElasticsearchJsonEventLayoutV1.json"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200MB" />
            </Policies>
            <ThresholdFilter level="ERROR"/>
        </RollingFile>
        <RollingFile name="com-esed-payer-archiviocarichi-ws-debug"
                	 fileName="${sys:jboss.server.log.dir}/com-esed-payer-archiviocarichi-ws-debug.log"
                	 filePattern="com-esed-payer-archiviocarichi-ws.%i.log"
                     ignoreExceptions="false" filePermissions="rw-rw-r--">
			<JsonTemplateLayout eventTemplateUri="classpath:ElasticsearchJsonEventLayoutV1.json"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500MB" />
            </Policies>
            <ThresholdFilter level="DEBUG"/>
            <!-- <DefaultRolloverStrategy max="10" /> -->
        </RollingFile>

    </Appenders>
    <Loggers>
		<Logger name="com.esed.payer.archiviocarichi.webservice" level="DEBUG" additivity="false">
			<AppenderRef ref="com-esed-payer-archiviocarichi-ws" />
			<AppenderRef ref="com-esed-payer-archiviocarichi-ws-debug"/>
            <AppenderRef ref="com-esed-payer-archiviocarichi-ws-error" />
		</Logger>         
        <Root level="INFO" >
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>
